/PCB/脑电采集主板_PRJ/__Previews/*
/PCB/脑电采集主板_PRJ/History/*
/PCB/脑电采集主板_PRJ/*.log
/PCB/脑电采集主板_PRJ/*.Dat
/PCB/脑电采集主板_PRJ/Project Logs for 脑电采集板/*
/PCB/脑电采集主板_PRJ/Project Outputs for 脑电采集板/*
/PCB/脑电采集主板_PRJ/*.PrjPCBStructure
*.o
*.d
*.crf
